body {
    overflow-x: hidden
}
/* All Layouts - Global */

.global {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
}

.global .hero {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--light-purple);
  background-image: url(../img/hero-2.svg);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 603px;
  justify-content: flex-end;
  padding: 0px 50px 20px;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
}
.global .hero-seasons {
  align-items: flex-start;
  align-self: stretch;
  background-color:var(--light-purple);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 450px;
  justify-content: flex-end;
  padding: 0px 50px 20px;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
}
/* Header Section */
#header {
		width: auto;
		text-align: center;
		border-radius: 5px;
		background: rosybrown;
		color: black;
		margin: auto;
}

/* Navigation Section */
#nav {
		width: 90%;
		float: right;
		position: relative;
		background: aliceblue;
		color: black;
		margin: 10%;
		padding: 10px;
}

/* Main Section */
#main {
		width: 90%;
		margin: 10px;
		padding: 10px;
}

/* Typography */

.screen a {
		display: contents;
		text-decoration: none;
}

* {
		box-sizing: border-box;
		/* background-color: beige; */
}

.h1 {
		letter-spacing: 0;
		line-height: 167.8px;
		position: relative;
		white-space: nowrap;
		width: fit-content;
}

.span1 {
		color: var(--alabaster);
		font-size: var(--font-size-xxl);
}

/* Footer Section */

.footer {
  /* Positioning */
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: white;

  /* Layout */
  display: flex;
  justify-content: space-between;
  width: 100vw;

  /* Spacing */
  margin-top: auto;
  padding: 14px 61px;

  /* Visual */
  align-items: center;
  flex-wrap: wrap;
  align-content: space-around;
  height: fit-content;
}

.footer-buttons {
  /* Layout */
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;

  /* Spacing */
  gap: 10px;
  min-width: 113.13px;
}

.footer-buttons .button {
  /* Layout */
  display: inline-flex;
  justify-content: center;
  align-items: right;

  /* Size */
  height: 32px;
  min-width: 56px;

  /* Spacing */
  padding: 8.5px 12px;

  /* Visual */
  background-color: #2c1b47;
  border-radius: 16px;
}

.footer-content {
  /* Layout */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;

  /* Size */
  height: fit-content;
  gap: 5px;

  /* Visual */
  border-top-style: solid;
  border-top-width: 1px;
  border-color: #ffffff17;
  align-items: center;
  align-content: center;
}
footer-copyright {
		display: inline-flex;
		flex-direction: column;
}

.footer-txt {
		display: inline-flex;
		flex-direction: column;
		color: var(--dark-purple);
		font-family: Arial, Helvetica, sans-serif;
		font-size: 15px;

		letter-spacing: 0.21px;

		white-space: nowrap;
		width: fit-content;
}
.footer-valign {
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex-wrap: wrap;
}
.footer-txt-b {
    color: white;
    font-family: Arial;
		letter-spacing: 0;
		line-height: 13px;
		margin-top: -1.00px;
		position: relative;
		white-space: nowrap;
		width: fit-content;
}

.container {
		align-items: flex-start;
		display: inline-flex;
		flex: 0 0 auto;
		flex-direction: column;
		padding: 2px 0px 0px;
		position: relative;
}

/* Navbar Section */
.nav-content {
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #ffffff17;
  display: flex;
  height: 74px;
  justify-content: center;
  left: 0;
  padding: 24px 0px 24px 48px;
  position: fixed;
  top: 0;
  width: 100vw;
  mix-blend-mode: difference;
  flex-wrap: wrap;
}

.nav-logo {
  align-items: flex-end;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 10px;
  margin-bottom: -24.00px;
  margin-top: -24.00px;
  position: relative;
}

.kittla {
  color: white;

  font-family: Arial;
  font-size:40px;
  font-weight: 500;

  letter-spacing: 0;
  line-height: 73.2px;
  margin-top: -1.00px;

  position: relative;
  white-space: nowrap;
  width: fit-content;
}


.nav-tabs {
		align-items: center;
		display: flex;
		flex: 1;
		flex-grow: 1;
		justify-content: space-between;
		margin-bottom: -5.00px;
		margin-top: -5.00px;
		padding: 0px 24px 0px 0px;
		position: relative;
}

.navbar {
		align-items: center;
		display: inline-flex;
		flex: 0 0 auto;
		gap: 48px;
		position: relative;
}

.navbar-link {
		color: white;
		font-family: Arial;
		font-weight: 500;

		line-height: 28px;
		margin-top: -1.00px;
		position: relative;
		white-space: nowrap;
		width: fit-content;
}

.nav-button {
		align-items: center;
		font-family: Arial;
		background-color: white;
		border-radius: 60px;
		display: inline-flex;
		flex: 0 0 auto;
		gap: 16px;
		height: 36px;
		justify-content: center;
		padding: 12px 16px;
		position: relative;
}

.icon {
		height: 23.2px;
		margin-bottom: -5.60px;
		margin-top: -5.60px;
		position: relative;
		width: 23.2px;
}

.button-title {
		color: black;
		font-weight: 500;
		line-height: 16px;
		margin-bottom: -1.00px;
		margin-top: -3.00px;
		position: relative;
		white-space: nowrap;
		width: fit-content;
}

/* Text Styles */
.h {
		font-family: Arial;
		font-style: italic;
		font-weight: 400;
}

.h2 {
		color: white;
		font-family: Wil;
		font-size: 120px;
		font-style: normal;
		font-weight: 400;
	}

.h2-italic {
		color: white;
		font-family: williams_calson-italic;
		font-size: 120px;
		font-style: italic;
		font-weight: 400;

}
.api-used {
		letter-spacing: 0;
		line-height: 13px;
		margin-top: -1.00px;
		position: relative;
		white-space: nowrap;
		width: fit-content;
}

.h4 {
  color: var(--valhalla);
  font-family: var(--font-family-williams_calson-regular);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.body-txt {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25.6px;
    margin-top: -1.27px;
    position: relative;
    width: 602.99px;
  }
.subtitle-italic {
  font-family: WilliamsCalson-Italic;
  font-style: italic;
  font-weight: 400;
  color: var(--valhalla);
  font-size: var(--font-size-xl);
  }

.h1 {
  color: var(--alabaster);
  font-family: Arial;
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
  width: fit-content;
}

.subtitle {
  color: white;
  font-family: WilliamsCalson-Regular;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
}
