
@font-face {
  font-family: "DIN Next LT Pro-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/DINNextLTPro-Bold.otf") format("opentype");
}
@font-face {
  font-family: "DIN Next LT Pro-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/DINNextLTPro-Regular.otf") format("opentype");
}
