body {
  background-color: darkolivegreen;
  color: greenyellow;
}
@font-face {
  font-family: "DIN Next LT Pro-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/DINNextLTPro-Bold.otf") format("opentype");
}
@font-face {
  font-family: "DIN Next LT Pro-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/DINNextLTPro-Regular.otf") format("opentype");
}
#header {
			   width: auto;
			   text-align: center;
			   border-radius: 5px;
			   background:rosybrown;
			   color:black;
			   margin: auto;}
#nav {
			   width: 90%;
			   float: right;
			position: relative;
			   background: aliceblue;
			   color:black;
			   margin: auto;
			   padding: 10px;}
#main {
        		 width: 90%;
			position: relative;
          		background: white;
          		margin: 10px;
          		padding:10px; }
