/* All Layouts - Global */

.global {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
}

.global .hero {
  align-items: flex-start;
  align-self: stretch;
  background-color: #00000033;
  background-image: url(../img/hero-2.svg);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 603px;
  justify-content: flex-end;
  padding: 0px 50px 20px;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
}
